<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput
             ngModel
             required
             name="title"
             type="text"
             #title="ngModel">

      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                ngModel
                required
                #content="ngModel"
                name="content"
                rows="6"
      >
      </textarea>

      <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            type="submit"
    >
      Save Post
    </button>
  </form>
</mat-card>
