mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.file-upload {
  padding-bottom: 22.4px;
}

.imagePreviewSrc {
  height: 5rem;
  margin: 1rem 0;
}

.imagePreviewSrc img {
  height: 100%;
}
