<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input #emailInput="ngModel"
        email
        matInput
        ngModel
        required
        name="email"
        placeholder="Email"
        type="email">

      <mat-error *ngIf="emailInput.invalid">Please enter a valid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input #passwordInput="ngModel"
             matInput
             ngModel
             password
             required
             name="password"
             placeholder="Password"
             type="password">

      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>

    <button
      *ngIf="!isLoading"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Login
    </button>
  </form>
</mat-card>
