<mat-toolbar color="primary">
  <span>
    <a routerLink="">Messages</a>
  </span>

  <span class="spacer"></span>

  <ul>
    <ng-container *ngIf="userIsAuthenticated">
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>

      <li>
        <a (click)="logout()" mat-button>Logout</a>
      </li>
    </ng-container>

    <ng-container *ngIf="!userIsAuthenticated">
      <li>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>

      <li>
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
    </ng-container>
  </ul>
</mat-toolbar>
